<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width">
		<meta charset="utf-8" />
		<title>慧艺搏教育</title>
		<link rel="stylesheet" href="/static/css/style.css" />
		<link rel="stylesheet" href="/static/css/animate.min.css" />
		<link rel="stylesheet" href="/static/css/common.css" />
		<!--<link rel="stylesheet" href="http://huitraining.pythonanywhere.com/static/css/demo.css"/>-->
		<!--<link rel="stylesheet" href="http://huitraining.pythonanywhere.com/static/css/icons.css" />-->
		<script type="text/javascript" src="/static/js/jquery.min.js" ></script>
		<script type="text/javascript" src="/static/js/nav.js" ></script>
		<script type="text/javascript" src="/static/js/wow.min.js"></script>
	</head>
	<body>
		<div class="tan1"></div>
		<div id="box">
			<div id="header">
				<div class="subMenu">
					<nav>
						<div class="container">
							<div class="logo">
								<a href="">
									<img alt="logo" src="/static/img/logo.png" />
								</a>
							</div>
							<div class="navLeft">
								<ul>
									<li class="tiaozhuanpc">
										<a class="zhuye subNavBtn moren" href="/">首页</a>
									</li>
									<li class="tiaozhuanpc1">
										<a href="#tiaozhuan1">公司介绍</a>
									</li>
									<li class="tiaozhuanpc2">
										<a href="#tiaozhuan2">培训课程</a>
									</li>
									<li class="tiaozhuanpc3">
										<a href="#tiaozhuan3">联系我们</a>
									</li>
									<li class="tiaozhuanpc4">
										<a class="denglu01" href="/login">登录</a>
										<a class="denglu1" style="display:none">{{user_name}}</a>
										<a class="denglu11" style="display:none">{{user_name}}</a>
										<div id="chaoji" style="display: none;">
											<span class="chaoji1">新增课程</span>
											<span class="chaoji2">业务员管理</span>
											<span class="chaoji3">历史课程</span>
										</div>
									</li>
								</ul>
							</div>
							<div class="navLeft1">
								<div class="Line">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</div>
								<!--.Line end-->
							</div>
							<!--.navLeft1 end-->
							<div class="bottom-nav">
								<div class="triangle-up">
									<!--向上的三角-->
								</div>
								<ul>
									<li class="tiaozhuan0">
										<a href="index.html">首页</a>
									</li>
									<li class="tiaozhuan1">
										<a href="#tiaozhuan1">公司介绍</a>
									</li>
									<li class="tiaozhuan2">
										<a href="#tiaozhuan2">培训课程</a>
									</li>
									<li class="tiaozhuan3">
										<a href="#tiaozhuan3">联系我们</a>
									</li>
									<li>
										<a class="denglu02" href="http://huitraining.pythonanywhere.com/login">登录</a>
										<a class="denglu2" style="display:none">{{user_name}}</a>
									</li>
								</ul>
							</div>
							<!--.bottom-nav-->
						</div>
					</nav>
				</div>
				<!--subMenu end-->
				<div id="banner">
					<img src="/static/img/banner.png" class="banner1" />
					<img src="/static/img/banner2.png" class="banner2" />
				</div>
			</div>
			<!--#header end-->
			<div id="center">
				<div class="container" id="tiaozhuan1">
					<h1 class="biaoti"><img src="/static/img/diqiu.png" style="margin-bottom: 19px;">&nbsp;慧艺搏教育—专注工业、信息化培训</h1>
					<p class="fubiao">线上线下齐头并进，教学、学习、就业环环相扣，简单！实用！快乐！</p>
					<dl class="jishu">
						<dt class="wow bounceInLeft animated " style="animation-delay: 0.5s;"><img src="/static/img/peixun.png"></dt>
						<dd class="wow bounceInRight animated" style="animation-delay: 0.5s;">
							<p>
							<Marquee width="100%" height="100%" direction="up" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="1" scrollDelay="4">
北京慧艺搏技术培训中心是经北京市工商局审核批准设立的综合性培训机构，是工业和信息部教育考试中心全国信息技术人才培养工程培训基地，是中国电子教育学会会员和项目管理实施机构，主要从事工业和信息化等各类职业技能培训工作。2003年以来，我中心坚持“服务发展、以用为本、高端引领、创新开拓”的理念，整合政府、行业机构、高等院校、知名企业等优质资源，卓有成效地开展了信息化与两化融合、网络与信息安全、新兴产业与高新技术三大类职业技能培训工作，受到了原信息产业部电子信息中心、工业和信息化部信息中心、国家信息中心、中国质检认证中心、中国电子信息产业发展研究院等单位的资质认可， 先后举办过“信息资源规划与利用”、“新一代数据中心架构与数据应用”、“数据存储与灾难恢复”、“网站安全防护与应急处理”、“网络设备安全运维”、“信息安全审计”、“工控系统网络安全”、“云计算大数据分析平台Hadoop最佳实践”、“物联网技术”、“网络营销”、“工业机器人”、“3D打印”、“虚拟现实技术”等数十个中高级管理技术职业培训，服务对象涵盖政府机构及金融、通信、教育（高校）、医疗、研究院所等企事业单位，培训学员3万余人，具有良好的市场信誉。
</Marquee>


							</p>
						</dd>
					</dl>
				</div>
				<!--.container end-->

				<div class="peixun">
					<div class="container">
						<h1 class="peixun-bt1">我们的学员来自不同行业</h1>
						<h1 class="peixun-bt2"><img src="/static/img/biaoti1.png "></h1>
						<p class="fubiao">服务对象涵盖政府机构及金融、通信、教育、医疗、研究所等事业单位</p>
						<dl class="wow rollIn animated" style="visibility: visible; animation-delay: 0.5s; ">
							<dt><img src="/static/img/tu1.png"></dt>
							<dd>政府机构</dd>
						</dl>
						<dl class="wow rollIn animated" style="visibility: visible; animation-delay: 0.3s; ">
							<dt><img src="/static/img/tu2.png"></dt>
							<dd>金融行业</dd>
						</dl>
						<dl class="wow rollIn animated" style="visibility: visible; animation-delay: 0.1s; ">
							<dt><img src="/static/img/tu3.png"></dt>
							<dd>教育行业</dd>
						</dl>
						<dl class="wow rollIn animated" style="visibility: visible; animation-delay: 0.5s;">
							<dt><img src="/static/img/tu4.png"></dt>
							<dd>通信行业</dd>
						</dl>
						<dl class="wow rollIn animated" style="visibility: visible; animation-delay: 0.3s;">
							<dt><img src="/static/img/tu5.png"></dt>
							<dd>医疗行业</dd>
						</dl>
						<dl class="wow rollIn animated" style="visibility: visible; animation-delay: 0.1s;">
							<dt><img src="/static/img/tu6.png"></dt>
							<dd>研究所</dd>
						</dl>
						<div class="clear"></div>
					</div>
					<!--.container end-->
				</div>
				<!--.peixun end-->
				<div class="banxue s4">
					<div class="container">
						<h1 class="peixun-bt2"><img src="/static/img/biaoti2.png"></h1>
						<p class="fubiao">服务对象涵盖政府机构及金融、通信、教育、医疗、研究所等事业单位</p>
						<div class="banxue-left wow bounceInDown animated" style="visibility: visible; animation-delay: 0.1s;">
							<div class="bx1-left">
								<p>2004年以来一直保持着与工信部教育考试中心、中国电子信息产业发展研究院培训中心、等单位的友好合作,积累了丰富的资源。</p>
							</div>
							<div class="bx1-right">
								<p>学历有教育部备案，高校直接颁发，加盖高校与自考办官方认证钢印，学信网上永久可查。</p>
							</div>
							<div class="clear"></div>
						</div>
						<!--.banxue-left end-->
						<div class="banxue-right wow bounceInDown animated" style="visibility: visible; animation-delay: 0.3s;">
							<div class="bx2-left">
								<p>招生工作组织严密</p>
							</div>
							<div class="bx2-right">
								<p>课程新颖内容丰富</p>
							</div>
							<div class="clear"></div>
						</div>
						<!--.banxue-right end-->
						<div class="clear"></div>
					</div>
					<!--.container end-->
				</div>
				<!--.banxue end-->
				<div class="xiangmu1">
					<div class="container" id="tiaozhuan2">
						<h1 class="biaoti biaoti1" style="border: none;margin-top: 0px;	">正在招生</h1>
						<p class="fubiao " style="margin-top: 0;">TRAINING PROGRAM</p>
						<div class="xiangmu1-left wow animated fadeInDown" style="visibility: visible; animation-delay: 0.1s;">
							<div class="xiangmu1-top">
							    <span class="xiangmu1-day">{{p0.days}}</span>
								<h1 class="small1">{{p0.t1}}</h1>
								<h1 class="big">{{p0.t2}}</h1>
								<!--<p>Industrial control system network security special training class</p>-->
							</div>
							<div class="xiangmu1-bottom">
								<p class="ziti">{{p0.t1}}{{p0.t2}}</p>
								<p><span style="display: none;">主讲：李长江（10课时）</span>
									<a id="cha1">查看详情</a>
								</p>
							</div>
						</div>
						<!--xiangmu1-left end-->
						<div class="xiangmu1-right wow animated fadeInDown" style="visibility: visible; animation-delay: 0.3s;">
							<div class="xiangmu1-top">
							    <span class="xiangmu1-day">{{p1.days}}</span>
								<h1 class="small1">{{p1.t1}}</h1>
								<h1 class="big">{{p1.t2}}</h1>
								<!--<p>Industrial control system network security special training class</p>-->
							</div>
							<div class="xiangmu1-bottom">
								<p class="ziti">{{p1.t1}}{{p1.t2}}</p>
								<p><span style="display: none;">主讲：李长江（10课时）</span>
									<a id="cha" >查看详情</a>
									<input type="hidden" id="hide" value="" />
								</p>
							</div>
						</div>
						<!--xiangmu1-right end-->
						<div class="clear"></div>
					</div>
				</div>
				<!--.xiangmu1 end-->
				<div class="xiangmu2">
					<div class="container">
						<dl class="fadeInUp wow animated" style="visibility: visible; animation-delay: 0.1s;">
							<dt style="background: url(../static/img/tuu1.png) no-repeat left top;background-size: 100%;">
								<p class="xiangmu2-title1">{{p2.t1}}</p>
								<p class="xiangmu2-title2">{{p2.t2}}</p>
							</dt>
							<dd>
								<p class="ziti">{{p2.t1}}{{p2.t2}}</p>
								<p><span style="display: none;">主讲：李长江（10课时）</span>
									<a id="cha3" style="background-color: #705cd2;">查看详情</a>
								</p>
							</dd>
						</dl>
						<dl class="fadeInUp wow animated" style="visibility: visible; animation-delay: 0.3s;">
							<dt style="background: url(../static/img/tuu2.png) no-repeat left top;background-size: 100%;">
								<p class="xiangmu2-title1">{{p3.t1}}</p>
								<p class="xiangmu2-title2">{{p3.t2}}</p>
							</dt>
							<dd>
								<p class="ziti">{{p3.t1}}{{p3.t2}}</p>
								<p><span style="display: none;">主讲：李长江（10课时）</span>
									<a id="cha4" style="background-color: #f39800;">查看详情</a>
								</p>
							</dd>
						</dl>
						<dl class="fadeInUp wow animated" style="visibility: visible; animation-delay: 0.5s;">
							<dt style="background: url(../static/img/tuu3.png) no-repeat left top;background-size: 100%;">
								<p class="xiangmu2-title1">{{p4.t1}}</p>
								<p class="xiangmu2-title2">{{p4.t2}}</p>
							</dt>
							<dd>
								<p class="ziti">{{p4.t1}}{{p4.t2}}</p>
								<p><span style="display: none;">主讲：李长江（10课时）</span>
									<a id="cha5" style="background-color: #80ace6;">查看详情</a>
								</p>
							</dd>
						</dl>
						<div class="clear"></div>
					</div>
				</div>
				<!--.xiangmu2 end-->
				<div class="Pasttraining">
					<div class="container">
						<h1 class="biaoti biaoti1" style="border: none;	">以往培训</h1>
						<p class="fubiao " style="margin-top: 0;">PAST TRAINING</p>
						<div class="border"></div>
						<div class="Pasttraining-left wow fadeInLeft animated" style="animation-delay: 0.5s;">
							<ul>
								<li class="one">信息资源开发利用高级研修班</li>
								<li class="two">信息资源开发利用高级研修班</li>
								<li class="one">网站安全防护与应急处理专题研修班</li>
								<li class="two">信息安全审计与风险控制高级培训班</li>
							</ul>
						</div>
						<!--Pasttraining-left end-->
						<div class="Pasttraining-right wow fadeInRight animated" style="animation-delay: 0.5s;">
							<ul>
								<li class="one">高效数据存储与数据安全高级培训班</li>
								<li class="two">灾备系统设计与实现技巧高级研修班</li>
								<li class="one">工业控制系统网络安专题培训班</li>
								<li class="two">网络攻防技术与信息安全应急响应</li>
							</ul>
						</div>
						<!--Pasttraining-right end-->
						<div class="clear"></div>
						<p class="zixun">
							<a href="#">在线咨询详情</a>
						</p>
					</div>
				</div>
				<!--Pasttraining end-->
				<div class="kaoshi s6">
					<div class="container">
						<h1 class="biaoti biaoti1" style="border: none;margin-top: 0px;	padding-top:50px">培训考试项目申请流程</h1>
						<p class="fubiao " style="margin-top: 0;">TRAINING EXAMINATION PROJECT APPLICATION PROCESS</p>
						<div class="kaoshi-left flipInX wow animated" style="visibility: visible; animation-delay: 0.1s;">
							<div class="tu"><img src="/static/img/yuanbg1.png"></div>
							<div class="neirong">
								<p>1. 培训考试项目合作申报表;</p>
								<p>2. 机构资质证明复印件(包括：企业法人证书、组织机构代码证、办学许可证、营业执照等);</p>
								<p>3. 管理及业务人员名单;</p>
								<p>4. 合作单位简介;</p>
								<p>5. 具有的培训实训设备清单和教室、机房、实训场所照片;</p>
								<p>6. 培训考试项目职业技术技能标准;</p>
								<p>7. 项目推广计划书;</p>
								<p>8. 培训合作合同。</p>
							</div>
						</div>
						<div class="kaoshi-center flipInX wow animated" style="visibility: visible; animation-delay: 0.3s;">
							<div class="tu2"><img src="/static/img/yuanbg2.png"></div>
							<div class="neirong">
								<p>收到申请资料后，通过现场考察、审核后，对合格的机构，签订合同，并准予合格机构支付相关费用。</p>
							</div>
						</div>
						<div class="kaoshi-right flipInX wow animated" style="visibility: visible; animation-delay: 0.5s;">
							<div class="tu3"><img src="/static/img/yuanbg3.png"></div>
							<div class="neirong">
								<p>合同生效后，申请机构可获取文件，对业务人员进行规定培训，开展业务。</p>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<!--#center end-->
			<div id="footer">
				<div class="container" id="tiaozhuan3">
					<h1>联系我们</h1>
					<div class="foot-left">
						<ul>
							<li><img src="/static/img/stb1.png">咨询电话：010-54736078</li>
							<li><img src="/static/img/stb2.png">工作时间：每天8:00-18:00</li>
							<li><img src="/static/img/stb3.png">电话传真：64700872</li>
							<li><img src="/static/img/stb4.png">QQ: 1374224198</li>
						</ul>
						<div class="xuanchuan">
							<p>公司宣传片</p>
							<div class="shipin">
								<img src="/static/img/shipin.png" />
							</div>
						</div>
					</div>
					<!--footer-left end-->
					<div class="foot-right">
						<p><input type="text" placeholder="您的名字" class="input"></p>
						<p><input type="text" placeholder="您的联系方式" class="input"></p>
						<p><textarea placeholder="任性一下把话说出来" cols="43" rows="6"></textarea></p>
						<p><input type="submit" value="发送" class="sub"></p>
						<dl>
							<dt></dt>
							<dd></dd>
						</dl>
						<p>Copyright © 2013-2015 www.huitraining.org.cn 京ICP备14006783号－1</p>
						<p>北京慧艺搏技术培训中心 版权所有</p>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<!--#box end-->
	</body>
	<script type="text/javascript">
		new WOW().init();
		//截取url中拿到的id
    	function queryString(key) {
    		var regex_str = "^.+\\?.*?\\b" + key + "=(.*?)(?:(?=&)|$|#)"
    		var regex = new RegExp(regex_str, "i");
    		var url = window.location.toString();
    		if(regex.test(url)) return RegExp.$1;
    		return undefined;
    	}
	    var id = queryString("id")
	   $("#hide").val(id);
	   if($("#hide").val() === ''){

	   }else if($("#hide").val() === '6'){
	       $(".denglu11").show();
	       $(".denglu01").hide();
	       $(".denglu1").hide();
	   }else if($("#hide").val() === '7'){
	       $(".denglu11").show();
	       $(".denglu01").hide();
	       $(".denglu1").hide();
	   }else{
	   	   $(".denglu1").show();
	       $(".denglu2").show();
	       $(".denglu01").hide();
	       $(".denglu02").hide();
	       $(".denglu11").hide();
	   }
		$("#cha").click(function(){
		    if($("#hide").val() === ''){
		        window.open("http://www.huitraining.org.cn/details2");
		    }else{
		    	window.open("http://www.huitraining.org.cn/details2?id="+id);

		    }

		})
			$("#cha1").click(function(){
		    if($("#hide").val() === ''){
		        window.open("http://www.huitraining.org.cn/details1");
		    }else{
		    	window.open("http://www.huitraining.org.cn/details1?id="+id);

		    }

		})
			$("#cha3").click(function(){
		    if($("#hide").val() === ''){
		        window.open("http://www.huitraining.org.cn/details3");
		    }else{
		    	window.open("http://www.huitraining.org.cn/details3?id="+id);

		    }

		})
			$("#cha4").click(function(){
		    if($("#hide").val() === ''){
		        window.open("http://www.huitraining.org.cn/details4");
		    }else{
		    	window.open("http://www.huitraining.org.cn/details4?id="+id);

		    }

		})
			$("#cha5").click(function(){
		    if($("#hide").val() === ''){
		        window.open("http://www.huitraining.org.cn/details5");
		    }else{
		    	window.open("http://www.huitraining.org.cn/details5?id="+id);

		    }

		})
 		$(".denglu11").hover(function(){
		    $("#chaoji").show();
		},function(){
		    $("#chaoji").hide();
		});
		$("#chaoji").hover(function(){
		    $(this).show();
		},function(){
		    $(this).hide();
		});
		$("#chaoji span").hover(function(){
			$(this).css("background","#226fd1").siblings().css("background","#fff");
			$(this).css("color","#fff").siblings().css("color","#3A3A3A");
		},function(){
			$(this).css("background","#fff");
			$(this).css("color","#3A3A3A")
		})
		$(".chaoji1").click(function(){
			var ua = navigator.userAgent.toLowerCase();
		  	if (/android/.test(ua)) {
		        etTimeout('window.open("http://www.huitraining.org.cn/edit_plan");', 400);
		  	}else{
		        window.open("http://www.huitraining.org.cn/edit_plan");
		  	  
		  	}
		});
		$(".chaoji2").click(function(){
			var ua = navigator.userAgent.toLowerCase();
		  	if (/android/.test(ua)) {
		        etTimeout('window.open("http://www.huitraining.org.cn/user_manage");', 400);
		  	}else{
		        window.open("http://www.huitraining.org.cn/user_manage");
		  	  
		  	}
		});
		$(".chaoji3").click(function(){
			var ua = navigator.userAgent.toLowerCase();
		  	if (/android/.test(ua)) {
		        etTimeout('window.open("www.huitraining.org.cn/plan_query");', 400);
		  	}else{
		        window.open("www.huitraining.org.cn/plan_query");
		  	  
		  	}
		});

	</script>

</html>
